*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
local.properties
.vscodetest.txt
.blackboxrules
AnichinProvider/build
AnimasuProvider/build
AnimeFreakProvider/build
AnimeIndoProvider/build
AnimeSail/build
/Kuramanime/
LayarAnimeProvider/build
Layarotaku/build
Lk21/build
Otakudesu/build
Pencurimovie/build
Samehadaku/build
WinbuProvider/build
/ExampleProvider/